In [31]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter

In [207]:
data = pd.read_csv('C://Users/Stas/Downloads/data.csv')
data.head(5)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015

In [6]:
len(data)

1890

In [208]:
# рассчитываем прибыль по каждому фильму
data['profit'] = data['revenue'] - data['budget']

In [136]:
# преобразуем столбцы в массив по разделителю '|'
# data['production_companies'] = data['production_companies'].apply(lambda x: x.split('|'))
# data['cast'] = data['cast'].apply(lambda x: x.split('|'))
# data['genres'] = data['genres'].apply(lambda x: x.split('|'))

# Предобработка датасета

In [10]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [12]:
data.groupby(['original_title'])['budget'].max().sort_values(ascending=False)
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [14]:
data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
answer_ls.append(2)

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [15]:
data.groupby(['original_title'])['runtime'].max().sort_values(ascending=False)
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [18]:
data.runtime.mean()
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [20]:
data.runtime.median()
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [23]:
data.groupby(['original_title'])['revenue'].max().sort_values(ascending=False)
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [25]:
data.groupby(['original_title'])['profit'].min().sort_values()
answer_ls.append(2)

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [28]:
data[data.profit > 0].count()
answer_ls.append(1)

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [40]:
data.loc[data['release_year'] == 2008][['original_title', 'profit']]
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [43]:
data.loc[(data['release_year'] >= 2012) & (data['release_year'] <= 2014)][['original_title', 'profit']].sort_values(['profit'])
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [11]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [13]:
# из массива данных выделяем только фильмы с прибылью
a = data[data.profit > 0]
# в прибыльных фильмах определяем сколько какого жанра
pd.DataFrame(a.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [16]:
data.groupby(['director'])['original_title'].count().sort_values(ascending=False)
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [102]:
a = data[data.profit > 0]
a.groupby(['director'])['original_title'].count().sort_values(ascending=False)
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [20]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False)
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [167]:
# создаем датафрейм и вносим в него список актеров
df_dir = pd.DataFrame(data.cast.str.split('|').tolist()).stack().reset_index() 
# присваиваем колонке с именами актеров название 'cast'
df_dir.columns =  ['row1', 'row2', 'cast']
# создаем колоку 'profit' и рассчитываем прибыль на основании исходного датафрейма
df_dir['profit'] = df_dir.row1.apply(lambda x: data.iloc[x]['profit'])
# группируем по актерам
df_dir.groupby(['cast'])['profit'].sum().sort_values(ascending=False)
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [166]:
# фильмы выпущенные в 2012 году
t = data[data.release_year == 2012]
# создаем датафрейм и вносим в него список актеров
df_dir = pd.DataFrame(t.cast.str.split('|').tolist()).stack().reset_index()
# присваиваем колонке с именами актеров название 'cast'
df_dir.columns =  ['row1', 'row2', 'cast']
# создаем колоку 'profit' и рассчитываем прибыль на основании исходного датафрейма
df_dir['profit'] = df_dir.row1.apply(lambda x: t.iloc[x]['profit'])
# группируем по актерам
df_dir.groupby(['cast'])['profit'].sum().sort_values(ascending=False)
answer_ls.append(3)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [158]:
# ограничиваем датафрейм фильмами высокобюджетными
t = data[data.budget > data.budget.mean()]
# сортировка актеров 
pd.DataFrame(t.cast.str.split('|').tolist()).stack().value_counts()
answer_ls.append(3)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [60]:
# ограничения в датафрейме по фильмам где снимался Nicolas Cage
c = data[data['cast'].str.contains('Nicolas Cage')]
# в ограниченном датафрейме подсчет по жанрам
pd.DataFrame(c.genres.str.split('|').tolist()).stack().value_counts()
answer_ls.append(2)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [42]:
pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [43]:
# работаем с датафреймом за 2015 год
b = data[data.release_year == 2015]
# делаем группировку по компаниям
pd.DataFrame(b.production_companies.str.split('|').tolist()).stack().value_counts()
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [ ]:
import collections
c = collections.Counter()
for i in range(0, len(data)):
    if 'Comedy' in data['genres'].iloc[i]:
        c[data['production_companies'].iloc[i]]+=data.iloc[i]['profit']
answer_ls.append(1)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [175]:
# аналогично задаче 12
t = data[data.release_year == 2012]
df_dir = pd.DataFrame(t.production_companies.str.split('|').tolist()).stack().reset_index() 
df_dir.columns =  ['row1', 'row2', 'production_companies']
df_dir['margin_dir'] = df_dir.row1.apply(lambda x: t.iloc[x]['profit'])
df_dir.groupby(['production_companies'])['margin_dir'].sum().sort_values(ascending=False)
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [65]:
import collections
c = collections.Counter()
for i in range(0, len(data)):
    if 'Paramount Pictures' in data['production_companies'].iloc[i]:
        c[data['original_title'].iloc[i]]+=data.iloc[i]['profit']
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [46]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [63]:
import collections
c = collections.Counter()
for i in range(0, len(data)):
    if 'Warner Bros.' in data['production_companies'].iloc[i]:
        c[data['release_year'].iloc[i]]+=data.iloc[i]['profit']
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [115]:
# в датафрейме выделяем месяцы премьер из release_date
data['month'] = pd.to_datetime(data['release_date']).dt.month
# оцениваем количество фильмов в каждом месяце
data.groupby(['month'])['original_title'].count().sort_values(ascending=False)
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [121]:
data[(data.month == 8) | (data.month == 7) | (data.month == 6)].original_title.count()
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [116]:
# ограничиваем датафрейм по периодам года
f = data[(data.month == 12) | (data.month == 1) | (data.month == 2)]
# группируем данные по кол-ву фильмов у режиссера
f.groupby(['director'])['original_title'].count().sort_values(ascending=False)
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [184]:
# в датафрейме выделяем месяцы премьер из release_date
data['month'] = pd.to_datetime(data['release_date']).dt.month
# создаем таблицу с суммой прибыли по годам и месяцам
data_monthly_profit = pd.pivot_table(data, values=['profit'], index=['release_year', 'month'], aggfunc=np.sum)
# делаем группировку по годам и месяцам по максимальному значению
idx = data_monthly_profit.groupby(['release_year'], sort=False)['profit'].transform(max) == data_monthly_profit['profit']
ns_df = data_monthly_profit[idx]
# display(ns_df.profit) - незнаю как высчитать среднее по колонке month, потому считал вручную
answer_ls.append(2)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [195]:
data['original_title_length'] = data['original_title'].str.len()

company_all = []

for companies in data['production_companies']:
    company_all.extend(companies.split('|'))
company_unique = pd.Series(company_all).unique()

dist_company = pd.DataFrame(company_unique, columns=['company'])
dist_company['avg_length'] = 0

for key, val in dist_company.iterrows():
    looped_df = data[data['production_companies'].str.contains(val.company)]
    dist_company.avg_length[dist_company.company == val.company] = looped_df['original_title_length'].mean()

dist_company.groupby(['company'])['avg_length'].max().sort_values(ascending=False)
answer_ls.append(5)

C:\Users\Stas\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Stas\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [199]:
data['original_title_words'] = data['original_title'].str.split(' ')
data['original_title_length'] = data['original_title_words'].apply(len)

company_all = []

for companies in data['production_companies']:
    company_all.extend(companies.split('|'))
company_unique = pd.Series(company_all).unique()

dist_company = pd.DataFrame(company_unique, columns=['company'])
dist_company['ddd'] = 0

for key, val in dist_company.iterrows():
    looped_df = data[data['production_companies'].str.contains(val.company)]
    dist_company.ddd[dist_company.company == val.company] = looped_df['original_title_length'].mean()

dist_company.groupby(['company'])['ddd'].max().sort_values(ascending=False)
answer_ls.append(5)

C:\Users\Stas\anaconda3\lib\site-packages\ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
C:\Users\Stas\anaconda3\lib\site-packages\pandas\core\strings.py:1952: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  return func(self, *args, **kwargs)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [206]:
data['original_title_lower'] = data['original_title'].str.lower()
data['original_title_words'] = data['original_title_lower'].str.split(' ')

unique_words = []

def word_adder(series_to_check):
    for word in series_to_check:
        if word not in unique_words:
            unique_words.append(word)

for name in data['original_title_words']:
    word_adder(name)

# display(len(unique_words))
answer_ls.append(3)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [230]:
data.nlargest(int(len(data)/100),'vote_average')['original_title'].tolist()
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [231]:
answer_ls.append(5)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [232]:

directors_all = []

for director in data['director']:
    directors_all.extend(director.split('|'))
director_unique = pd.Series(directors_all).unique()
# создаем новый датафрейм
df_profitable_director = pd.DataFrame(director_unique, columns=['director'])
df_profitable_director['total_movies'] = 0
df_profitable_director['profitable_movies'] = 0
# создаем цикл для сбора из исходного датафрейме 
for key, val in df_profitable_director.iterrows():
    looped_df = data[data['director'].str.contains(val.director)]
    df_profitable_director.total_movies[df_profitable_director.director == val.director] = len(looped_df)
    df_profitable_director.profitable_movies[df_profitable_director.director == val.director] = len(looped_df[looped_df['profit']>0])
# вероятность успеха будущего фильма
df_profitable_director['success_rate'] = (df_profitable_director.profitable_movies/df_profitable_director.total_movies)*100
# сравниваем рехультаты и выбираем наибольшее значение
display(df_profitable_director[df_profitable_director['director']=='Quentin Tarantino'])
display(df_profitable_director[df_profitable_director['director']=='Steven Soderbergh'])
display(df_profitable_director[df_profitable_director['director']=='Robert Rodriguez'])
display(df_profitable_director[df_profitable_director['director']=='Christopher Nolan'])
display(df_profitable_director[df_profitable_director['director']=='Clint Eastwood'])
answer_ls.append(4)

C:\Users\Stas\anaconda3\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
C:\Users\Stas\anaconda3\lib\site-packages\ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

             director  total_movies  profitable_movies  success_rate
17  Quentin Tarantino             7                  6     85.714286

              director  total_movies  profitable_movies  success_rate
289  Steven Soderbergh            13                 10     76.923077

             director  total_movies  profitable_movies  success_rate
190  Robert Rodriguez            11                  8     72.727273

              director  total_movies  profitable_movies  success_rate
122  Christopher Nolan             8                  8         100.0

           director  total_movies  profitable_movies  success_rate
148  Clint Eastwood            12                 10     83.333333

# Submission

In [233]:
len(answer_ls)

37

In [234]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

    Id  Answer
0    1       3
1    2       1
2    3       3
3    4       4
4    5       5
5    6       1
6    7       1
7    8       4
8    9       5
9   10       2
10  11       1
11  12       1
12  13       1
13  14       4
14  15       4
15  16       4
16  17       5
17  18       2
18  19       1
19  20       3
20  21       3
21  22       3
22  23       1
23  24       3
24  25       3
25  26       2
26  27       2
27  28       2
28  29       5
29  30       5
30  31       3
31  32       3
32  33       1
33  34       4
34  35       1
35  36       5
36  37       4